*{
            padding: 0;
            margin: 0;
        }
        #Quotes{
    border: 0px solid;
    height: 45px;
    width: 100%;
    background-color:rgb(45, 1, 78);
    position:sticky ;
    top: 0;
    z-index: 3000;
}
p{
    color: white;
    letter-spacing: 1px; 
    font-style: italic; 
    word-spacing: 2px; 
    position: relative; 
    top: 7px;
}