<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div id="navbar" th:fragment="navbar" >
<div id="LogoContent">
<div class="Logo"><img src="https://thumbs.dreamstime.com/b/helping-hands-care-hands-logo-318500757.jpg" alt="" id="logoimage" style="mix-blend-mode: multiply;"><h5 id="risetogether"><span style="color: rgb(241, 155, 63);">Rise</span><span style="color: rgb(86, 209, 86);">Together</span></h2></div>
<div class="support"><a><h2 id="navContent">Support</h2></a></div>
<div class="aboutUs"><a href="/about"><h2 id="navContent">About Us</h2></a></div>
<div class="NGO"><a><h2 id="navContent">NGO's</h2></a></div>
<div class="event"><a><h2 id="navContent">Events</h2></a></div>
</div>
<div>
<div id="Login">
  <div class="joinUs" style="display: flex; gap: 10px;">
    <a href="#" class="joinus" onclick="openJoinUs(event)">
      <h2 id="navContent">Join Us</h2>
    </a>
    <a href="/login" class="joinus">
      <h2 id="navContent">Login</h2>
    </a>
  </div>
</div>

</div>
</div>
</body>
</html>


